.cat-card {
  width: 350px;
  height: 100%;
  transition: .5s;
}
img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}
.cat-card:hover {
  background-color: #673AB7;
  color: #f7f3ff;
  transition: .5s;
}

@media (max-width: 500px) {
  .cat-card {
    width: 300px;
  }
  .img {
    height: 200px;
  }
}