mat-progress-spinner {
  margin: 0 auto;
}
app-cats {
  width: fit-content;
  margin: 0 auto;
}
.container {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .container {
    padding: 20px 30px;
  }
}
