.cats-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  row-gap: 50px;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .toolbar {
    flex-wrap: wrap;
    justify-content: center;
  }
  :host ::ng-deep.mat-paginator .mat-paginator-container{
    justify-content: center;
  }
}
